/* Contact Section */
.contact-section {
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

textarea {
    height: 100px;
}

.contact-section button {
    color: white;
    border-radius: 0%;
    font-weight: 600;
    background-color: black;
    padding: 15px;
    border: 2px white solid;
}

.contact-section button:hover {
    background-color: white;
    color: black;
    border: 2px black solid;
    cursor: pointer;
}

input {
    width: 40%;
    height: 30px;
    border: 2px solid white;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
    box-sizing:border-box;
    appearance: none;
}
input:invalid {
    border-color: #900;
    background-color: #fdd;
}

.error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
}

.error.active {
padding: 0.3em;
}

label {
    display: flex;
    flex-direction: column;
    width: 40%;
}

label input {
    width: 100%;
}

textarea {
    width: 40%;
}